<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navegarParaHome()">Home
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Tarefas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="mudarMostrarTodas()" fill="clear" size="small">
        {{ mostrarTodas ? 'Todas' : 'Ativas' }}
      </ion-button>
      <ion-button (click)="listarTA()" fill="clear" size="small">
        {{ mostrarTA ? 'Tarefas' : 'Ativ.' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="light">
    <ion-item lines="none" color="light">
      <ion-label position="stacked">Projeto</ion-label>
      <ion-select placeholder="Selecione o Projeto">
        <ion-select-option value="">Nenhum projeto</ion-select-option>
        <ion-select-option *ngFor="let projeto of projetos" [value]="projeto.id">
          {{ projeto.nome }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" *ngIf="selTask">
    <ion-badge color="secondary" class="badge-large">{{ selTask.nome }}</ion-badge>
    <ion-button color="secondary" (click)="addAtv()">Adicionar Atividade</ion-button>
    <ion-button fill="outline" size="small" (click)="addAtv()" style="float: right;">
      + Atividade
    </ion-button>
</div>  

  <ion-list *ngIf="mostrarTA">
    <ion-item *ngFor="let atv of atvs">
      <ion-label>
        <h2>{{ atv.nome }}</h2>
        <p>{{ atv.status }} | {{ atv.data | date:'dd/MM/yyyy' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!mostrarTA">
    <ng-container *ngFor="let tarefa of tarefas">
      <ion-item *ngIf="tarefa.status !== 'CONCLUÍDA' || mostrarTodas">
        <ion-label (click)="seleciona(tarefa)">
          <h2>{{ tarefa.nome }}</h2>
          <p>{{ tarefa.status }} - {{ tarefa.data | date:'dd/MM/yyyy' }}</p>
        </ion-label>
        <ion-button slot="end" fill="clear" color="tertiary" size="small">
          Editar
        </ion-button>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>